.hero {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 3rem;
  text-shadow: 0 4px 20px rgba(0,0,0,0.6);
  margin-bottom: 40px;
}

.buttons {
  display: flex; 
  gap: 40px; 
  justify-content: center; 
  align-items: center; 
  margin-top: 200px;
 margin-left: 750px;
}

button {
  padding: 15px 30px;
  font-size: 1.4rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
 
}


  .yes {
  background: #4caf50;
  color: white;
  position: relative;
}


.movable-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.no {
  pointer-events: auto;
  transition: left 0.2s, top 0.2s;
  position: relative;
  color: white;
  background-color: red;
}

